<p>
  git-repo01 works!
</p>
<h3>Проект {{repoName}}</h3>

<strong>Список участников</strong>

<div *ngFor="let contr of contrs">Пользователь
  <a [routerLink]="['/user', contr.login]">
    {{contr.id}} <strong>{{contr.login}}</strong>
  </a>
</div>
