
<h3>Юзер №{{user.id}} {{login}} </h3>
<img src="{{user.avatar_url}}" width="100px"/><br/>
<strong>Список его репозиториев</strong>
<div class="col-12">
    <ul class="repos">
        <li *ngFor="let repo of repos">
            <a [routerLink]="['/user', user.login, 'repo', repo.name]">{{repo.name}}</a>
        </li>
    </ul>
    <app-git-search-user01></app-git-search-user01>
</div>
