<h1>{{title}}</h1>
<nav>
    <a routerLink="/dashboard" routerLinkActive="active">ЮзерПоиск</a>
    <a routerLink="/users" routerLinkActive="active">ЮзерСписок</a>
</nav>

<p>
    Cтраничка с поиском пользователей на гитхабе, со списком репозиториев и контрибьютеров.<br>
    Используя компонентный подход и ES6 с сортировкой и пагинацией.
</p>



<router-outlet></router-outlet>

