@import url('https://fonts.googleapis.com/css?family=Roboto')
@import './sass/vars01'
@import './sass/typo01'
@import './sass/form01'


\:host

  font-family: $font-stack
  background: $hex1
  color: $hex5
  *
    max-width: 100%
  a
    color: $hex4
    &:hover
      color: $hex3
  @media screen and (min-width: 1010px)
    width: 1000px
    margin: auto
  @media screen and (min-width: 670px) and (max-width: 1010px)
    width: 660px
    margin: auto
  @media screen and (min-width: 320px) and (max-width: 670px)
    width: 100%
    margin: auto
  @media screen and (max-width: 320px)
    width: 100%
    margin: auto

  +flexRowWrapAJ(row, wrap, center, space-between)


  h1, p
    width: 100%
    text-align: center
  nav
    width: 100%
    text-align: center
    display: flex
    justify-content: space-around
    line-height: 50px



