$font-stack: 'Roboto', sans-serif
$primary-color: #333


$rgb1: rgb(252, 255, 245)
$rgb2: rgb(209, 219, 189)
$rgb3: rgb(145, 170, 157)
$rgb4: rgb(62, 96, 111)
$rgb5: rgb(25, 52, 65)

$hex1: #FCFFF5
$hex2: #D1DBBD
$hex3: #91AA9D
$hex4: #3E606F
$hex5: #193441

//Flex
=flexRowWrapAJ($row, $wrap, $align, $justify)
  display: flex
  flex-flow: $row $wrap
  align-items: $align
  justify-content: $justify


//border
=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

//grid
.col-12
  +flexRowWrapAJ(row, wrap, start, space-between)
  width: 100%

//Animation