<div id="search-component">
  <h4>Поиск Uзеров GitHub</h4>
  <form (ngSubmit)="getSearch()">
    <input name="inputRequest"
           [(ngModel)]="newSearchReq"
           class="search-box"
           placeholder="кого ищем?"
           required
    />
    <select
            class="search-box"
            name="pageNumber"
            [(ngModel)]="pageNumber"
            *ngIf="users.length"
            required>
      <option *ngFor="let page of pagPage;"
              value="{{page}}">{{page}}
      </option>
    </select>
    <select class="search-box"
            name="sortParam"
            [(ngModel)]="sort"
            *ngIf="users.length"
            required>
      <option value="followers">followers</option>
      <option value="repositories">repositories</option>
      <option value="joined">joined</option>
    </select>
    <select class="search-box"
            name="orderParam"
            [(ngModel)]="order"
            *ngIf="users.length"
            required>
      <option value="desc">desc</option>
      <option value="asc">asc</option>
    </select>

    <button type="submit">Найти {{newSearchReq}}</button>
  </form>

  <span *ngIf="users.length">{{total_count}}</span>

  <div class="search__block">

    <div *ngFor="let user of users; let i = index">
      <a [routerLink]="['/user', user.login]">
        <img src="{{user.avatar_url}}" width="100px"><br>
        {{user.id}} <strong>{{user.login}}</strong>
      </a>
    </div>

  </div>

  <form *ngIf="users.length" (ngSubmit)="getSearch()">
    <input name="inputRequest"
           [(ngModel)]="newSearchReq"
           class="search-box"
           placeholder="кого ищем?"
           required
    />
    <select
            class="search-box"
            name="pageNumber"
            [(ngModel)]="pageNumber"
            *ngIf="users.length"
            required>
      <option *ngFor="let page of pagPage;"
              value="{{page}}">{{page}}
      </option>
    </select>
    <select class="search-box"
            name="sortParam"
            [(ngModel)]="sort"
            *ngIf="users.length"
            required>
      <option value="followers">followers</option>
      <option value="repositories">repositories</option>
      <option value="joined">joined</option>
    </select>
    <select class="search-box"
            name="orderParam"
            [(ngModel)]="order"
            *ngIf="users.length"
            required>
      <option value="desc">desc</option>
      <option value="asc">asc</option>
    </select>

    <button type="submit">Найти {{newSearchReq}}</button>
  </form>

</div>
