@import '../sass/vars01'

\:host

  h4
    font-size: 21px
  #search-component
    width: 100%
    padding: 10px 10px 30px 10px
    background: $hex2
    text-align: center
    .search__block
      +flexRowWrapAJ(row, wrap, center, space-between)
      div
        width: 16%


